{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div>
    <h1>EDA charts</h1>
    <div id="chart_div1">
        {% block chart_content1 %}
            {{ chart1|safe }}
        {% endblock %}
    </div>
    <div id="chart_div2">
        {% block chart_content2 %}
            {{ chart2|safe }}
        {% endblock %}
    </div>
    <div id="chart_div3">
        {% block chart_content3 %}
            {{ chart3|safe }}
        {% endblock %}
    </div>
    <div id="chart_div4">
        {% block chart_content4 %}
            {{ chart4|safe }}
        {% endblock %}
    </div>
    <div id="chart_div5">
        {% block chart_content5 %}
            {{ chart5|safe }}
        {% endblock %}
    </div>
    <div id="chart_div6">
        {% block chart_content6 %}
            {{ chart6|safe }}
        {% endblock %}
    </div>
    <div id="chart_div7">
        {% block chart_content7 %}
            {{ chart7|safe }}
        {% endblock %}
    </div>
    <div id="chart_div8">
        {% block chart_content8 %}
            {{ chart8|safe }}
        {% endblock %}
    </div>
</div>


{% endblock %}
