{% extends 'app/base.html' %}

{% block content %}
<body>
    <div class="form-container">
        <h2 class="text-center mb-3">Predict the type of Failure</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form|linebreaks }}
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
        </form>
        {% if prediction_result %}
        <h3>Prediction Result:</h3>
        <p>{{ prediction_result }}</p>
    {% endif %}
    </div>
</body>
{% endblock %}