{% extends 'app/base.html' %}

{% block content %}
<body>
    <div class="form-container">
        <h2 class="text-center mb-3">Predict The Type of Failure in your machine</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form|linebreaks }}
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
        </form>
        {% if failure_type %}
        <h2>Failure Type:</h2>
        <p>{{ failure_type }}</p>
    {% endif %}
    </div>
</body>
{% endblock %}